# Entornos virtuales
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# IDE
.idea/

# Archivos personales de novelas
novelas/*/

# Mantener el ejemplo e ignorar resto
!novelas/Ejemplo_Novela_01/
!novelas/Ejemplo_Novela_01/**